@import '../../../App.scss';

#article-content {
  width: $container-default-width;
  max-width: $container-max-width;
  margin: ($spacing-default * 2) auto;
}

.article-title {  text-align: center; }

.article-title h1 {
  margin-bottom: ($spacing-default / 2);

  font-size: 4.2rem;
  font-weight: $font-weight-light;

  color: #414141;
}

.article-title > p {
  margin-bottom: ($spacing-default * 1.5);
  font-size: 1.4rem;
  color: #b3b3b3;
  text-transform: uppercase;
}

.article-body {
  margin: 0 auto;
  width: 80%;

  line-height: 3.4rem;
  color: #6c6c6c;
}

.article-body h4 {
  font-size: 2.8rem;
  margin: 3rem 0 1rem;
}