@import '../../App.scss';

.contact-page {
  max-width: 117rem;
  padding: 1rem;
  margin: 1.5rem auto;

  color: $blue-gray-300;
}

.contact-title {
  margin-top: 0;
  margin-bottom: 2rem;
  color: $navy-blue;
  font-weight: $font-weight-light;
  text-transform: uppercase;
  font-size: 3.5rem;
  text-align: center;
}

.contact-page h3 {
  font-size: 2rem;
}

.contact-wrapper { border: 1px solid $navy-blue; }

.contact-wrapper > * { padding: 1rem; }

.contact-info { background-color: $eggshell-white; }

.contact-form {
  background-color: #fff;
}

.contact-form ul { 
  margin: 0;
  padding: 0;
}

.contact-form li { 
  list-style-type: none; 

  > * {
    color: $navy-blue;
  }

  > :last-child {
    margin-left: 1rem;
  }
} 

.contact-info { 
  border-bottom:1px solid $blue-gray-600; 
  background-color: $navy-blue; 
}

.contact-info h3 {
  text-align: left;
  color: #fff;
}

@media #{$medium} {
  
  .contact-title { text-align: left; }

  .contact-wrapper > * { padding: 2rem; }

  .contact-form h3,
  .contact-form p,
  .contact-form ul {
    text-align: left;
  }
}